.col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-iniciar,.boton-detener {
    border-bottom: 1px solid #7dd3fc;
    color: #0e5b7e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-progreso{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}



.scrollable-container {
    max-height: 10vh;       
    overflow-y: auto;      
    padding: 5px;           
    border: 1px solid #ccc; 
    background-color: #1e293b; 
    border-radius: 10px;
}

.outputlogs{
    background-color: #1e293b;
    color: #ccc;
    border: 1px solid black; 
    border-radius: 0 0 10px 10px;
    padding: 10px; 
    height: 430px;
    /*width: 900px;*/
    overflow-y: auto;
}

/* Estilos para el scrollbar */
.outputlogs::-webkit-scrollbar {
    width: 8px;
}

.outputlogs::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1); /* Fondo con transparencia */
    border-radius: 10px;
}

.outputlogs::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.5); /* Color del scrollbar */
    border-radius: 10px;
}

.outputlogs::-webkit-scrollbar-thumb:hover {
    background: rgba(100, 100, 100, 0.7); /* Color del scrollbar al pasar el mouse */
}

/*BARRA PROGRESO*/

.progreso-scraping{ /* contenedor de barra de progreso*/
    display: flex;
}

.porcentaje-progreso{
    width: 5vw;
}

.progress{
    width: 50vw;
}

/**/
.nav-underline {
    background-color: #1e293b; /* Fondo de la barra de navegación */
    padding: 10px; /* Espacio alrededor del contenido */
    border-radius: 5px 5px 0 0; /* Redondear las esquinas */
}

.nav-item {
    background-color: #1e293b; /* Fondo de cada elemento de la lista */
}

.nav-link {
    color: #7dd3fc; /* Color del texto */
    margin: 0 5px; /* Espacio entre los enlaces */
    transition: background-color 0.3s ease; /* Transición suave para el hover */
}

.nav-link:hover {
    background-color: #1e293b; /* Color de fondo al pasar el ratón */
    color: #fff; /* Cambiar el color del texto para que sea legible sobre el nuevo fondo */
}

