{# Herencia de template base para navbar y footer #}
{% extends 'layouts/base.html' %}

{# Carga de static para este template #}
{% load static %}
{# Hoja de estilos para este template #}
{% block style %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

<!-- Contenido -->
{% block content %}
<h1>Bienvenidos al sistema Smart OdorWatch</h1>

<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}

<!-- SCRIPTS -->
{% block scripts %}
  <script src="{% static 'js/home.js' %}"></script>
  <script src="https://kit.fontawesome.com/97e73bf1af.js" crossorigin="anonymous"></script>
{% endblock %}
