{# Herencia de template base pata navbar y footer #}
{% extends 'layouts/base.html' %}

{# Carga de static para este template #}
{% load static %}
{# Hoja de estilos para este template #}
{% block style %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

<!-- Contenido -->
{% block content %}
<h1>Bienvenido a la página de inicio</h1>


<!-- Verificar si se logea con usuario o M365

<p>Correo electrónico: {{ user_email }}</p>
{% if 'tsgenviro' in user_email %}
  <p>Etiqueta: Sí</p>
{% else %}
  <p>Etiqueta: No</p>
{% endif %}
-->





{% endblock %}

<!-- SCRIPTS -->
{% block scripts %}

  <script>
    console.log("Correo del usuario: {{ correo }}");
  </script>
  <script src="{% static 'js/panel.js' %}"></script>
  <script src="https://kit.fontawesome.com/97e73bf1af.js" crossorigin="anonymous"></script>
{% endblock %}