{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Inicio de sesion</title>
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <header></header>
    <main>
          <!-- Div con fondo de imagen -->
        <div class="image-background-container">
          <!-- Div centrado con el texto "Hola" -->
          <div class="container">
              <input id="signup_toggle" type="checkbox">
              <form class="form" action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                  <div class="form_front">
                      <div class="form_details">Inicio de Sesión</div>
                      <input id="username" name="username" type="text" class="input" placeholder="Usuario">
                      <input id="password" name="password" type="password" class="input" placeholder="Contraseña">
                      <button class="btn btn-primary">Ingresar</button>
                      <button onclick="window.location.href='https://launcher.myapps.microsoft.com/api/signin/45a7e488-7538-4189-a465-cc838d441633?tenantId=31df8db8-2c61-452e-bccf-751fea3fca78';"
                      style="font-size: 14px; padding: 0 10px; height: 35px; border-radius: 15px;" class="login100-form-btn" 
                      type="button"><img style="width: 20px; margin-right: 5px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Microsoft_logo.svg/2048px-Microsoft_logo.svg.png" alt="Microsoft" />Ingresar con Microsoft</button>
                          <label for="" class="label-logo" >
                            <img class="img-tsg" src="{% static 'img/logo-slidebar-TSG.png' %}" alt="">
                          </label>
                      </span>
                      {% if error_message %}
                      <p class="errormsg" style="color: red;">{{ error_message }}</p>
                    {% endif %}
                  </div>
              </form>
          </div>
      </div>
      
    </main>
    <footer>
      <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  </body>
</html>
