{# Herencia de template base para navbar y footer #}
{% extends 'layouts/base.html' %}

{# Carga de static para este template #}
{% load static %}
{# Hoja de estilos para este template #}
{% block style %}
  <link rel="stylesheet" href="{% static 'css/panel_style.css' %}" />
{% endblock %}

<!-- Contenido -->
{% block content %}
  <h1>Administración Scraping</h1>

  <br>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Ejecución manual</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">¿Quieres iniciar el scraping?</div>
        <div class="modal-footer">
          <button id="runScriptBtn" type="button" class="btn btn-primary" data-bs-dismiss="modal">Iniciar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- Botón para ejecutar el script -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Iniciar Scraping</button>

    <br><br><br>

    <!-- Barra de progreso -->
    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
      <div id="progress-bar" class="progress-bar" style="width: 0%"></div>
    </div>

    <br><br>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Logs de ejecución</a>
      </li>
    </ul>
    <!-- Div donde se mostrará el contenido de logs_scraping.txt -->
    <div id="log-output" class="outputlogs" style="white-space: pre-wrap; overflow-y: scroll;">Cargando logs...</div>
  </div>


{% endblock %}

<!-- SCRIPTS -->
{% block scripts %}
  <script>
    document.getElementById('runScriptBtn').addEventListener('click', function () {
      // Iniciar la barra de progreso
      updateProgressBar(0);

      // Hacer la solicitud AJAX
      fetch("{% url 'run_script' %}")
        .then((response) => response.json())
        .then((data) => {
          if (data.output) {
            console.log('Ejecutado correctamente');
            updateProgressBar(100); // Completa la barra de progreso al finalizar
          } else if (data.error) {
            console.log('ERROR: ', data.error);
          }
        })
        .catch((error) => console.error('Error al ejecutar el script:', error));
    });

    function updateProgressBar(percentage) {
      const progressBar = document.getElementById('progress-bar');
      progressBar.style.width = percentage + '%';
      progressBar.setAttribute('aria-valuenow', percentage);
      progressBar.textContent = percentage + '%'; // Mostrar el porcentaje en la barra
    }

    function fetchLogs() {
      fetch('/get-logs/')
        .then((response) => response.json())
        .then((data) => {
          const logOutput = document.getElementById('log-output');
          const isScrolledToBottom = logOutput.scrollHeight - logOutput.clientHeight <= logOutput.scrollTop + 1;
          if (data.logs) {
            logOutput.textContent = '';
            const last100Logs = data.logs.slice(-100);
            last100Logs.forEach((log) => {
              logOutput.textContent += log + '\n';
            });
            if (isScrolledToBottom) {
              logOutput.scrollTop = logOutput.scrollHeight;
            }
          } else if (data.error) {
            logOutput.textContent = 'Error: ' + data.error;
            console.error('Error al leer el archivo:', data.error);
          }
        })
        .catch((error) => {
          const errorMessage = 'Error al obtener los logs: ' + error;
          document.getElementById('log-output').textContent = errorMessage;
          console.error(errorMessage);
        });
    }

    fetchLogs();
    setInterval(fetchLogs, 2000);

    function checkProgress() {
      fetch('/get-progress/')
        .then((response) => response.json())
        .then((data) => {
          if (data.progress !== undefined) {
            updateProgressBar(data.progress);
          }
        })
        .catch((error) => console.error('Error al obtener el progreso:', error));
    }

    // Llama a checkProgress periódicamente
    setInterval(checkProgress, 1000);
  </script>
{% endblock %}
