{# Herencia de template base para navbar y footer #}
{% extends 'layouts/base.html' %}

{# Carga de static para este template #}
{% load static %}
{# Hoja de estilos para este template #}
{% block style %}
  <link rel="stylesheet" href="{% static 'css/panel_style.css' %}" />
{% endblock %}

<!-- Contenido -->
{% block content %}
  <h1>Administración Scraping</h1>
  
  <br>

  <div class="container text-center">
    <div class="row">
      <div class="col">
        <button type="button" class="btn boton-iniciar" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="fa-sharp fa-solid fa-play"></i>
          <small>Iniciar</small>  
        </button>
      </div>
      <div class="col">
        <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" width="100" height="100">
          <path fill="#7DD3FC" d="M55.3,-41.5C70.2,-25.4,79.8,-2.5,75.6,17.7C71.3,37.9,53.2,55.3,31.6,65.7C10.1,76.1,-14.9,79.4,-33.4,70.2C-52,61,-64.1,39.2,-68,17C-71.9,-5.2,-67.6,-27.9,-54.9,-43.5C-42.2,-59.1,-21.1,-67.7,-0.5,-67.4C20.2,-67,40.4,-57.7,55.3,-41.5Z" transform="translate(100 100)" />
          <text x="50%" y="50%" text-anchor="middle" dy=".3em" fill="#fff" font-size="30" font-family="Arial, sans-serif" id="progress-bar2">0%</text>
        </svg>
      </div>
      <div class="col">
        <div class="container container-progreso">
          <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <div id="progress-bar" class="progress-bar" style="width: 0%"></div>
          </div>
          <div>
            <button class="btn boton-detener">
              <i class="fa-solid fa-stop"></i>
              <small>Detener</small>  
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">¿Quieres iniciar el scraping?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">Una vez iniciado el scraping se bloqueara el boton de ejecucion, debes detener el proceso para comenzar un proceso nuevo.</div>
        <div class="modal-footer">
          <button id="runScriptBtn" type="button" class="btn btn-primary" data-bs-dismiss="modal">Iniciar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="container container-logs">
    <ul class="nav nav-underline">
      <li class="nav-item">
        <a class="nav-link" href="#">Logs ejecucion</a>
      </li>
    </ul>


      <div id="log-output" class="outputlogs" style="white-space: pre-wrap; overflow-y: scroll;">Cargando logs...</div>

  </div>


{% endblock %}

<!-- SCRIPTS -->
{% block scripts %}
<script>
  document.getElementById('runScriptBtn').addEventListener('click', function () {
    // Iniciar la barra de progreso
    updateProgressBar(0);

    // Hacer la solicitud AJAX
    fetch("{% url 'run_script' %}")
    .then((response) => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then((data) => {
        if (data.output) {
            console.log('Ejecutado correctamente');
            updateProgressBar(100); // Completa la barra de progreso al finalizar
        } else if (data.error) {
            console.log('ERROR: ', data.error);
        }
    })
    .catch((error) => {
        console.error('Error al ejecutar el script:', error);
        // Aquí puedes manejar el error de manera más específica
    });
});

  function updateProgressBar(percentage) {
      const progressBar = document.getElementById('progress-bar2');
      progressBar.style.width = percentage + '%';
      progressBar.setAttribute('aria-valuenow', percentage);
      progressBar.textContent = percentage + '%'; // Mostrar el porcentaje en la barra
  }

  function fetchLogs() {
      fetch('/get-logs/')
          .then((response) => response.json())
          .then((data) => {
              const logOutput = document.getElementById('log-output');
              const isScrolledToBottom = logOutput.scrollHeight - logOutput.clientHeight <= logOutput.scrollTop + 1;
              if (data.logs) {
                  logOutput.innerHTML = ''; // Usar innerHTML para limpiar el contenido
                  const last100Logs = data.logs.slice(-100); // filas a mostrar de logs
                  last100Logs.forEach((log) => {
                      // Eliminar los milisegundos y el texto " - INFO - " de cada log
                      const cleanedLog = log.replace(/,\d{3}/, '').replace(/ - INFO - /g, '');
                      // Añadir un espacio después de los datos numéricos de tiempo
                      const formattedLog = cleanedLog.replace(/(\d{2}:\d{2}:\d{2})(\S)/, '$1 $2');
                      const logParagraph = `<p class="texto-logs"><span class="log-decorator">></span> ${formattedLog}</p>`; // Usar plantilla de cadena
                      logOutput.innerHTML += logParagraph; // Usar innerHTML para añadir el contenido
                  });
                  if (isScrolledToBottom) {
                      logOutput.scrollTop = logOutput.scrollHeight;
                  }
              } else if (data.error) {
                  logOutput.innerHTML = 'Error: ' + data.error; // Usar innerHTML para mostrar el error
                  console.error('Error al leer el archivo:', data.error);
              }
          })
          .catch((error) => {
              const errorMessage = 'Error al obtener los logs: ' + error;
              document.getElementById('log-output').innerHTML = errorMessage; // Usar innerHTML para mostrar el error
              console.error(errorMessage);
          });
  }

  fetchLogs();
  setInterval(fetchLogs, 2000);

  function checkProgress() {
  fetch('/get-progress/')
      .then((response) => response.json())
      .then((data) => {
      if (data.progress !== undefined) {
          updateProgressBar(data.progress);
      }
      })
      .catch((error) => console.error('Error al obtener el progreso:', error));
  }

  // Llama a checkProgress periódicamente
  setInterval(checkProgress, 1000);
</script>
{% endblock %}
