{# Herencia de template base para navbar y footer #}
{% extends 'layouts/base.html' %}

{# Carga de static para este template #}
{% load static %}
{# Hoja de estilos para este template #}
{% block style %}
  <link rel="stylesheet" href="{% static 'css/home_style.css' %}" />
{% endblock %}

<!-- Contenido -->
{% block content %}
<h1>Modulo SNIFA</h1>

<br><br><br>
<div style="max-height: 50vh; overflow-y: auto;">
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cliente</th>
          <th scope="col">Unidad Fiscalizable</th>
          <th scope="col">Documento</th>
        </tr>
      </thead>
      <tbody>
        {% for cliente in clientes %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ cliente.nombre }}</td>
          <td>
            {% for unidad in unidades %}
              {% if unidad.cliente == cliente %}
                {{ unidad.nombre }}<br>
              {% endif %}
            {% endfor %}
          </td>
          <td>@documento</td> <!-- Reemplaza con el campo correspondiente -->
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}

<!-- SCRIPTS -->
{% block scripts %}
  <script src="{% static 'js/sublista.js' %}"></script>
  <script src="https://kit.fontawesome.com/97e73bf1af.js" crossorigin="anonymous"></script>
{% endblock %}
