{# Herencia de template base para navbar y footer #}
{% extends 'layouts/base.html' %}

{# Carga de static para este template #}
{% load static %}
{# Hoja de estilos para este template #}
{% block style %}
  <link rel="stylesheet" href="{% static 'css/snifa.css' %}" />
{% endblock %}

<!-- Contenido -->
{% block content %}
<h1>Modulo SNIFA</h1>

<br><br><br>
<div class="contenedor-tabla" style="">
  <table class="table table-hover" >
      <thead class="encabezados" >
        <tr class="tr-encabezados">
          <th scope="col">#</th>
          <th scope="col">Cliente</th>
          <th scope="col">Unidad Fiscalizable</th>
          <th scope="col">Documento</th>
        </tr>
      </thead>
      <tbody>
        {% for coincidencia in coincidencias %}
        <tr class="datos">
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ coincidencia.documento.unidad_fiscalizable.cliente.nombre }}</td>
          <td>{{ coincidencia.documento.unidad_fiscalizable.nombre }}</td>
          <td><a href="{{ coincidencia.documento.url }}"><button class="button">
            Ver Documento
          </button></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}

<!-- SCRIPTS -->
{% block scripts %}
  <script src="{% static 'js/sublista.js' %}"></script>
  <script src="https://kit.fontawesome.com/97e73bf1af.js" crossorigin="anonymous"></script>
{% endblock %}
