{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SmartOdorWatch</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {# Bloque de estilos CSS #}
    {% block style %}

    {% endblock %}
  </head>

  <body>
    <header>
      <!-- NAVBAR -->
      <div>
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
        <!--  
        
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="ms-auto">
                <div class="container-barra">
                  
                  <p class="user">
                  {% if user.is_authenticated %}
                    {% if 'tsgenviro' in user_email %}
                      <p>{{ user_email }}</p>
                    {% else %}
                      <i class="fa-regular fa-user"></i> {{ user.username }}
                    {% endif %}
                  </p>
                  <a class="url-salir" href="{% url 'logout' %}">
                    <div class="salir-content">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i> 
                        <p class="texto-salir">Cerrar Sesión</p>
                    </div>
                  </a>
                

                {% else %}
                {% endif %}
                </div>

              </div>
            </div>
          </div>
        </nav>
        
          -->
      </div>
    </header>

    {# bloque de CONTENIDO #}
    <main class="">
      <div class="container-fluid contenedor-base">
        <div class="row contenedor-columnas">
          <!-- CONTENIDO SLIDEBAR -->
          <div class="col-3">
            <div class="main-div">
              <div class="inner-div">
                <img src="https://static.vecteezy.com/system/resources/previews/019/879/186/non_2x/user-icon-on-transparent-background-free-png.png" alt="Inner Image" />
                <!-- VALIDAR NOMBRE DE USUARIO LOGEADO -->
                {% if 'tsgenviro' in user_email %}
                  <p>{{ user_email }}</p>
                {% else %}
                  <p>{{ user.username }}</p>
                {% endif %}
              </div>
            </div>

            <ul class="list-group grupolista">
              <a class="" data-bs-toggle="collapse" href="#opcion1" role="button" aria-expanded="false" aria-controls="collapseExample">
                <li class="list-group-item">
                  <p class="d-inline-flex gap-1">
                    <i class="fa-solid fa-cube"></i>
                    Modulos
                  </p>
                </li>
              </a>
              <div class="collapse" id="opcion1">
                <div class="card card-body colapse-opcion">Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.</div>
              </div>
              <a class="" data-bs-toggle="collapse" href="#opcion2" role="button" aria-expanded="false" aria-controls="collapseExample">
                <li class="list-group-item">
                  <p class="d-inline-flex gap-1">
                    <i class="fa-solid fa-cube"></i>
                    Modulos2</p>
                </li>
              </a>
              <div class="collapse" id="opcion2">
                <div class="card card-body colapse-opcion">
                  AAAAAAAAAA
                </div>
              </div>
              <li class="list-group-item">A third item</li>
              <li class="list-group-item">A fourth item</li>
              <li class="list-group-item">And a fifth one</li>
            </ul>
            <!-- BOTON SALIR -->
            <div class="menu-salir">
              {% if user.is_authenticated %}
                <a class="url-salir" href="{% url 'logout' %}">
                  <div class="salir-content">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <p class="texto-salir">Cerrar Sesión</p>
                  </div>
                </a>
              {% else %}

              {% endif %}
            </div>
          </div>
          <div class="col-9">
            {% block content %}

            {% endblock %}
          </div>
        </div>
      </div>
    </main>

    <!-- Bootstrap JavaScript Libraries -->
    {% block scripts %}

    {% endblock %}
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="https://kit.fontawesome.com/97e73bf1af.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  </body>
</html>
