{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">

    <title>SmartOdorWatch</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">

    <!-- Boxicons CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_style.css' %}" />
    {# Bloque de estilos CSS #}
    {% block style %}

    {% endblock %}
</head>

<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <div class="contenedor-imgtext">
            <div class="texto-usuario">
            <!-- VALIDAR NOMBRE DE USUARIO LOGEADO -->
            {% if user.is_authenticated %}
            <small class="correo-usuario">{{ user_email }}</small>
            {% else %}
                <p>Usuario no autenticado</p>
            {% endif %}
            </div>

            <img class="icono" src="https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D" alt="">

        </div>
    </header>

    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="#" class="nav_logo">
                    <i class='bx bx-layer nav_logo-icon'></i>
                    <span class="nav_logo-name">Smart OdorWatch</span>
                </a>
                <div class="nav_list">
                    <a href="{% url 'home' %}" class="nav_link active">
                        <i class='bx bx-grid-alt nav_icon'></i>
                        <span class="nav_name">Inicio</span>
                    </a>

                    <a href="{% url 'snifa' %}" class="nav_link">
                        <i class='bx bx-folder nav_icon'></i>
                        <span class="nav_name">SNIFA</span>
                    </a>

                    {% if user.is_superuser %}
                    <a href="{% url 'panel' %}" class="nav_link">
                        <i class='bx bx-bar-chart-alt-2 nav_icon'></i>
                        <span class="nav_name">Scraping</span>
                    </a>
                    {% endif %}

                    {% if user.is_superuser %}
                    <a href="{% url 'add_usuario' %}" class="nav_link">
                        <i class="fa-regular fa-user"></i>
                        <span class="nav_name">Usuarios</span>
                    </a>
                    {% endif %}
                    
                </div>
            </div>
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="nav_link">
                <i class='bx bx-log-out nav_icon'></i>
                <span class="nav_name">Cerrar Sesión</span>
            </a>
            {% else %}
            {% endif %}
        </nav>
    </div>
    <!-- Container Main start -->
    <div class="bg-light">
        {% block content %}

        {% endblock %}
    </div>
    <!-- Bootstrap JavaScript Libraries -->
    {% block scripts %}

    {% endblock %}
    <script src="{% static 'js/base.js' %}"></script>
    <script src="https://kit.fontawesome.com/97e73bf1af.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>
</html>